.importer-card{
    /* width: 20px; */
   /* align-items: center;
   height: 100vh; */
   /* background-color: ; */
   border: 1px solid #002549;
   width: 400px;
   height: 500px;
   object-fit: cover;
}

.card-img-top{
    width:  170px;
    height: 150px;
    object-fit: cover;
}

