.importer-card{
    background-color: #ffc107;
    max-height: 80vh;
}

.card-title{
    font-family: Noto Serif Khojki;
    color: #002549;
    max-width: 100%;
}

.card-btn{
    background-color: #002549;
}

.card-btn:hover{
    background-color: #012b55;
}

.card-text{
    margin-left: 10px;
        font-size: small;
        color: #002549;
}