.address-box {
  width: 678px;
  height: 150px;
  background-color: rgb(250, 232, 75);
  border: 15px solid white;
  padding: 10px;
  margin: 2px;
  border-radius: 30px;
}

.payment-options-box {
  width: 678px;
  height: 190px;
  background-color: rgb(250, 232, 75);
  border: 15px solid white;
  padding: 10px;
  margin: 2px;
  border-radius: 30px;
}

.Additional-Information {
  width: 678px;
  height: 147px;
  background-color: rgb(250, 232, 75);
  border: 15px solid white;
  padding: 10px;
  margin: 2px;
  border-radius: 30px;
}

.Order-Summary {
  width: 400px;
  height: 483px;
  background-color: rgb(250, 232, 75);
  border: 15px solid white;
  padding: 10px;
  margin: 2px;
  border-radius: 30px;
}
